body {
  font-family: Roboto, Raleway, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.link {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**----------HEADER-----------*/

.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-iris {
  color: #4d5ae5;
  font-family: Raleway;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #4d5ae5;
}

/**--------------------------*/
/**----------HERO------------*/

.main {
}
.hero {
  background: #2e2f42;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-order-btn {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/**------------------------------*/
/**----------FEATURES------------*/

.features {
  background: #fff;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**------------------------------*/
/**-------------TEAM-------------*/

.Team {
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-leader {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
